<header class="header">
  <div class="dp-flex container jc-sb ai-c header-nav">
    <a class="logo-pic" href="#"
      ><img class="w-80" src="../assets/images/logo-white.png" alt="logo-white"
    /></a>
    <ul class="nav-bar dp-flex ai-c gap-16">
      <li class="nav-items"><a href="#">系列鏡框</a></li>
      <li class="nav-items">
        <a href="https://ellenwusw.github.io/window_week4_test/store.html"
          >門市據點</a
        >
      </li>
      <li class="nav-items"><a href="#">部落格</a></li>
      <li class="nav-items">
        <a href="https://ellenwusw.github.io/window_week4_test/">常見問題</a>
      </li>
    </ul>
  </div>
</header>
